@import "compass";
@include global-reset;
@include reset-html5;

$baseline: 18px;
$bright-blue: #5c8f99;
$light-red: #f27575;
$heading-color: #333333;
$text-color: #333333;

body{
	background: url('/images/main/bg.png');
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: $baseline;
	line-height: 24px;
	color: $heading-color;
}

.hero{
	text-align: center;
	margin-bottom: 8 * $baseline;

	h1{
		display: none;
	}
}

.page-container {
	margin: 0 auto;
	width: 940px;
}

p,
ul,
ol {
	color: $text-color;
	margin-bottom: $baseline;
	font-weight: lighter;
	line-height: $baseline * 2;
	text-align: left;
	span{
		color: $bright-blue;
	}
}

ul p, ol p{
	color: #a3b0b0;
	margin: 12px;
}

ol{
	list-style: decimal-leading-zero;
	border-left: solid 1px #f27575;
	margin-left: 0;
}

ol li{
	padding-left: $baseline;
}

ul {
	list-style-type: square;
	margin-left: 2em;
}

h1, h2, h3 {
	span{
		color: $bright-blue;
		font-style: italic;
	}
}

h1 {
	color: $heading-color;
	font-size: $baseline * 2;
	line-height: 72px;
	margin-bottom: $baseline;
}

h2 {
	color: $heading-color;
	font-size: $baseline * 1.5;
	line-height: 54px;
	padding-bottom: $baseline;
	margin-bottom: $baseline * 2;
	font-family: georgia;
	font-style: italic;
	border-bottom:  2px solid #333;
}

h3 {
	color: $heading-color;
	font-size: $baseline * 2;
	line-height: 54px;
	font-family: georgia;
}

h4 {
	color: $heading-color;
	font-size: 24px;
	line-height: 54px;
	font-family: georgia;
}

p {
	font-size: 24px;
}

strong {
	font-weight: bold;
}

section {
	margin-bottom: 72px;
	position: relative;
}

section .text {
	text-align:justify;
}

a[href="/blog"] {
    position: fixed;
    bottom: $baseline;
    right: $baseline * 2;
}

a {
	color: $text-color;
    text-decoration: underline;
    font-weight: lighter;
}

a.btn {
    color: #fff;
	text-decoration: none;
	font-size: 18px;
	margin-top: 18px;
	padding: 12px;
	background-color: $bright-blue;
	display: inline;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	&:hover{
		background-color: #069124;
		text-decoration: none;
	}
}

#shiny-version{
	position: absolute;
	right: 72px;
	font-size: $baseline/1.2;
	z-index: 1000;
}

#this-is-low-fire-danger {
	text-align: center;
	h3{
		margin-bottom: $baseline;
	}
}

#contact-low-fire-danger {
	margin-top: $baseline * 2;
}

/* Phone */
@media (max-width: 767px) {
  .visible-phone {
    display: block;
  }
  .hidden-phone {
    display: none;
  }
  .hidden-desktop {
    display: block;
  }
  .visible-desktop {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .visible-tablet {
    display: block;
  }
  .hidden-tablet {
    display: none;
  }
  .hidden-desktop {
    display: block;
  }
  .visible-desktop {
    display: none;
  }
}

/* Phone */
@media (max-width: 767px) {
	.hero{
		margin-bottom: $baseline * 3;
		img{
			width: 100%;
		}
	}

	a[href="/blog"] {
		position: static;
		text-align: center;
		display: block;
		background: none;
		color: black;
		z-index: 1000;

		&:hover{
			background: none;
			color: #000;
		}
	}

	#this-is-low-fire-danger{
		h3, h4{
			font-size: $baseline * 1.5;
			line-height: $baseline * 2;
		}
	}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 979px) {

}
@media (max-width: 979px) {
	body{
		padding: 0 $baseline;
	}

	p{
		font-size: $baseline;
		line-height: $baseline * 1.5;
	}

	h2{
		font-size: $baseline;
		line-height: $baseline * 1.5;
	}

	.page-container {
		margin: 0 auto;
		width: 100%;
	}

	ol {
		margin-left: $baseline * 2;
	}
}

@media (min-width: 980px) {

}