<hgroup>
    <a href="/" title="back to the Low Fire Danger website"><img src="/images/main/logo_water.png" alt="Low fire danger web development"/></a>

    <div class="about-us">
    	<a href="/">Low Fire Danger</a> develops web applications for businesses and startups. We design, engineer and develop user experiences to make your web application a pleasure to use.
		<br>
    	We will also help you with your business and strategise your online presence. Giving you advice and guiding you through every step, from conception to execution. Lets talk: <a href="mailto:contact@lowfiredanger.com.au">contact@lowfiredanger.com.au</a>
    </div>
</hgroup>
